<div *ngIf="listing">
    <a [routerLink]="['/listings']">Назад</a>
    <br>
    <h1 class="page-header">{{listing.place}}</h1>
    <div class="row">
      <div class="col-md-4">
        <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item"><b>Описание замечания:</b> {{listing.title}}</li>
          <li class="list-group-item"><b>Кто выявил:</b> {{listing.owner}}</li>
          <li class="list-group-item"><b>Дата выявления:</b> {{listing.dateOfDetection}}</li>
          <li class="list-group-item"><b>Тип:</b> {{listing.type}}</li>
          <li class="list-group-item"><b>Дата устранения:</b> {{listing.dateOfFixing}}</li>
        </ul>
        <br>
        <div class="row justify-content-center">
          <button type="button" [routerLink]="['/edit-listing/'+listing.$key]" class="btn btn-warning col-5">Изменить</button>
        
          <button type="button" (click)="onDeleteClick()" class="btn btn-danger col-5">Удалить</button>
        </div>
      </div>
      
      
      

      
    </div>
  </div>
  