<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" [routerLink]="['/']">APControl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav mr-auto navbar-left">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Главная</a></li>
        <li *ngIf="(user | async)" class="nav-item"><a class="nav-link" [routerLink]="['/listings']">Реестр замечаний</a> </li>
        <li *ngIf="(user | async)" class="nav-item"><a class="nav-link" [routerLink]="['/add-listing']">Добавить замечание</a></li>    
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!(user|async)?.uid" class="nav-item"><a class="nav-link" routerLink="/login">Войти</a></li>
        <li *ngIf="!(user|async)?.uid"  class="nav-item"><a class="nav-link" routerLink="/signup">Зарегистрироваться</a></li>
        <li *ngIf="(user|async)?.uid"  class="nav-item"><a (click)="logout()" class="nav-link" [routerLink]="['']">Выйти</a></li>
      </ul>
    </div>  
</nav>

<!-- <div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a routerLink="/">basechat</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userEmail}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</div> -->
